@import url("fonts.css");

#menu {
  background-color: #fff;
  width: 100vw;
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  top: 0;
  position: sticky;
  transition: 0.3s ease-in-out;
}

#menu > h1 > img {
  flex: 2;
  max-width: 50%;
  max-height: 13vh;
}

#menu > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu > span > i {
  font-size: 1.5em;
  z-index: 200;
}

#menu > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu > ul > li {
  cursor: pointer;
  margin-right: 25px;
}

.menuContainer {
  position: fixed !important;
  display: flex !important;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  animation: appears 0.3s ease-in-out;
  z-index: 5;
}

.menuContainer > li {
  font-size: 1.5em;
  color: #fff;
  margin: 20px 0;
}

.disappears {
  animation: disappears 0.3s ease-in-out;
}

#btn-menu {
  transition: 0.4s;
}

@keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappears {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#banner {
  background: url("../assets/img/castelo.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh - 14vh);
  display: flex;
  justify-content: center;
  align-self: center;
}

.fontBanner {
  color: #333;
  font-size: 2.5em;
  font-family: Cardinal;
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  min-height: 50vh;
  padding: 10px 20px;
}

#map > h2 {
  text-align: center;
  font-family: Cardinal;
  font-size: 3em;
  color: #333;
  margin-bottom: 50px;
}

#map-content {
  height: 100%;
  display: grid;
  grid-gap: 10px;
  width: 60%;
  margin: 0 auto;
}

#map-content > div {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

#map-img {
  border: 5px solid var(--primary);
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  #menu > ul {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  #menu > ul {
    display: flex;
  }
  #menu > span {
    display: none;
  }
  #map-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5em;
  }
}

footer {
  width: 100%;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

footer > span {
  padding: 10px;
}

footer > span > i {
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease-in-out;
}

footer > span > i:hover {
  font-size: 20px;
}

footer > p {
  font: 12px sans-serif;
}
