.container {
  background-color: var(--background);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-content {
  padding: 10px;
}

.ticket-content > h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0;
}
.ticket-content > ul > li > img {
  border: 2px solid #555;
  max-width: 820px;
  max-height: 300px;
}

.ticket-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-btn-content {
  background-color: #555;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.ticket-list > li {
  background-color: #fff;
  margin: 20px;
}
