.container {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list > ul {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .list > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .list > ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

.list > ul > li {
  width: 200px;
  height: 200px;
  background-color: #478;
  overflow: hidden;
}

.list > ul > li > img {
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
}

.list > ul > li {
  transition: 0.4s ease-in-out;
}

.list > ul > li:hover {
  transform: scale(1.05);
}
.list > ul > li:hover > img {
  transform: scale(1.1);
  transition-delay: 0.2s;
}

.gallery {
  position: fixed !important;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  animation: appears 0.3s ease-in-out;
  z-index: 5;
  color: #fff;
}
.gallery {
  padding: 30px;
}

.gallery-show {
  display: flex !important;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.gallery-stream {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-stream > img {
  z-index: 15;
}

.controller {
  font-size: 2em;
  z-index: 15;
}

@media screen and (min-width: 760px) {
  .gallery-stream > img {
    max-width: 500px;
    max-height: 500px;
  }
}
